* {
  margin: 0;
  padding: 0;
}

.nav-link:hover {
  color: #F5E71F !important;
}

:root {
  --banner-img: url('./assets/web-world.jpg');
}

/* BANNER */
.show-banner {
  background-color: '#000';
  background-image: var(--banner-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 520px;
  transition: width 2s, height 2s;
  width: 100%;
  display: 'flex';
  width: '100%';
  padding-top: '40px';
}

.hide-banner {
  background-color: '#000';
  background-image: var(--banner-img);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 0px;
  width: 100%;
  transition: width 2s, height 2s;
}



/* BREAKPOINTS */
@media (max-width: 600px) {
  .show-banner {
    background-position: -290px;
    height: 372px;
    flex-direction: 'column';
  }
}

@media (min-width: 601px) {
  .show-banner {
    background-position: center center;
    height: 380px;
    flex-direction: 'row';
    justify-content: 'space-between';
  }
}

@media (min-width: 960px) {
  .show-banner {
    background-position: center center;
    height: 520px;
  }
}



/* ANIMATIONS */
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}




.shake:hover {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}